$lineColor: #e4e4e4;
$color1: #000;
$color2: #fff;

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: light;
}

@mixin bookAfter {
  content: "";
  width: 8px;
  height: 14px;
  margin-left: 5px;
  background-image: url(../../public/img/logo-right.svg);
  background-size: cover;
  background-position: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.program {
  width: 100%;
  .subj {
    width: 81.33%;
    margin: 0 auto;
    h3 {
      font-family: "NanumSquareBold";
      font-size: 2rem;
      margin: 50px 0;
    }
  }
  .content {
    .index {
      display: none;
    }
    .list {
      width: 100%;
      padding: 0;
      border-top: 1px solid $lineColor;
      li {
        opacity: 0;
        transform: translateY(-10%);
        border-bottom: 1px solid $lineColor;
        cursor: pointer;
        width: 100%;
        .inner {
          width: 100%;
          margin: 0 auto;
          display: flex;
          .img {
            width: 48%;
            height: 130px;
            background-size: cover;
            .place {
              opacity: 0;
            }
          }
          .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 52%;
            padding-left: 9.33%;
            .type,
            .for,
            .des,
            .book {
              display: none;
            }
            .title {
              font-size: 1.25rem;
              margin: 0;
              word-break: keep-all;
              font-family: "Pretendard-SemiBold";
            }
          }
          .sign {
            display: none;
            .plus {
              background-image: url(../../public/img/logo-plus.svg);
            }
            .minus {
              background-image: url(../../public/img/logo-minus.svg);
            }
          }
        }
        &.item {
          transform: translateY(0%);
          opacity: 1;
        }
        &.active {
          transform: translateY(0%);
          opacity: 1;
          border-bottom: 1px solid $lineColor;
          .inner {
            display: flex;
            flex-direction: column;
            .img {
              order: 1;
              width: 100%;
              height: 172px;
              background-size: cover;
              background-position: center;
              position: relative;
              .place {
                opacity: 1;
                position: absolute;
                top: 20px;
                right: 20px;
                border: 1px solid $color1;
                background-color: $lineColor;
                padding: 10px 20px;
                border-radius: 30px;
              }
            }
            .text {
              order: 2;
              width: 81.33%;
              margin: 20px auto 30px auto;
              padding-left: 0;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .title {
                margin: 0;
                font-size: 1.25rem;
                font-family: "Pretendard-SemiBold";
              }
              .type,
              .for,
              .des,
              .book {
                display: block;
              }
              .mark {
                margin: 6px 0 16px 0;
                .type,
                .for {
                  font-family: "Pretendard-Light";
                  font-size: 1.25rem;
                  margin-right: 10px;
                  display: inline-block;
                }
              }
              .des {
                margin: 0;
                font-size: 1.125rem;
                font-family: "Pretendard-Light";
                line-height: 1.375rem;
                word-break: keep-all;
                margin-bottom: 20px;
              }
              .book {
                align-self: flex-end;
                span {
                  font-family: "Pretendard-Light";
                  font-size: 1.25rem;
                  position: relative;
                  cursor: pointer;
                  &::after {
                    @include bookAfter;
                  }
                  &:hover::after {
                    margin-left: 15px;
                  }
                }
              }
            }
          }
        }
        &:first-child {
          transition: all 0.3s;
        }
        &:nth-child(2) {
          transition: all 0.45s;
        }
        &:nth-child(3) {
          transition: all 0.55s;
        }
        &:nth-child(4) {
          transition: all 0.65s;
        }
        &.animate {
          transform: translateY(0%);
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .program {
    width: 100%;
    .subj {
      width: 87.5%;
      margin: 0 auto;
      h3 {
        font-family: "NanumSquareBold";
        font-size: 2.5rem;
        margin: 80px 0;
      }
    }
    .content {
      .index {
        display: block;
        width: 87.5%;
        margin: 0 auto;
        & > * {
          font-family: "NanumSquareLight";
          font-size: 1.875rem;
          margin: 0 0 20px 0;
          text-transform: capitalize;
          display: inline-block;
        }
        .indexType,
        .indexFor {
          display: none;
        }
      }
      .list {
        width: 100%;
        border-top: 1px solid $lineColor;
        padding: 0;
        li {
          opacity: 0;
          transform: translateY(-10%);
          border-bottom: 1px solid $lineColor;
          cursor: pointer;
          width: 100%;
          @mixin img {
            width: 62.89%;
            background-size: cover;
            background-position: center;
          }
          .inner {
            width: 100%;
            margin: 0 auto;
            display: flex;
            .img {
              @include img;
              height: 130px;

              .place {
                opacity: 0;
              }
            }
            .text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 37.1%;
              padding-left: 6.25%;
              .type,
              .for,
              .des,
              .book {
                display: none;
              }
              .title {
                font-size: 1.5rem;
                margin: 0;
                word-break: keep-all;
              }
            }
            .sign {
              display: none;
              .plus {
                background-image: url(../../public/img/logo-plus.svg);
              }
              .minus {
                background-image: url(../../public/img/logo-minus.svg);
              }
            }
          }
          &.item {
            transform: translateY(0%);
            opacity: 1;
          }
          &.active {
            transform: translateY(0%);
            opacity: 1;
            border-bottom: 1px solid $lineColor;
            .inner {
              display: flex;
              flex-direction: row;
              align-items: start;
              .img {
                @include img;
                order: 2;
                height: 350px;
                position: relative;
                .place {
                  opacity: 1;
                  position: absolute;
                  top: 20px;
                  right: 20px;
                  border: 1px solid $color1;
                  background-color: $lineColor;
                  padding: 10px 20px;
                  border-radius: 30px;
                  font-size: 1.25rem;
                }
              }
              .text {
                order: 1;
                width: 37.1%;
                height: 270px;
                padding: 0 5.2% 0 6.25%;
                margin: 50px 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                position: relative;

                .title {
                  margin: 0;
                  font-size: 1.5rem;
                  font-family: "Pretendard-SemiBold";
                }
                .type,
                .for,
                .des,
                .book {
                  display: block;
                }
                .mark {
                  margin: 10px 0 20px 0;
                  .type,
                  .for {
                    font-family: "Pretendard-Light";
                    font-size: 1.25rem;
                    margin-right: 20px;
                    display: inline-block;
                  }
                }
                .des {
                  margin: 0;
                  font-size: 1.25rem;
                  font-family: "Pretendard-Light";
                  line-height: 1.6875rem;
                  word-break: keep-all;
                }
                .book {
                  position: absolute;
                  top: 90%;
                  align-self: flex-end;
                  span {
                    font-family: "Pretendard-Light";
                    font-size: 1.25rem;
                    position: relative;
                    cursor: pointer;
                    &::after {
                      @include bookAfter;
                    }
                    &:hover::after {
                      margin-left: 15px;
                    }
                  }
                }
              }
            }
          }
          &:first-child {
            transition: all 0.3s;
          }
          &:nth-child(2) {
            transition: all 0.4s;
          }
          &:nth-child(3) {
            transition: all 0.5s;
          }
          &:nth-child(4) {
            transition: all 0.6s;
          }
          &.animate {
            transform: translateY(0%);
            opacity: 1;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .program {
    width: 100%;
    .subj {
      width: 89.06%;
      margin: 0 auto;
      h3 {
        font-family: "NanumSquareBold";
        font-size: 2.5rem;
        margin: 80px 0;
      }
    }
    .content {
      .index {
        display: block;
        * > & {
          font-family: "NanumSquareLight";
          font-size: 1.875rem;
          text-transform: capitalize;
          margin-bottom: 20px;
        }
        .indexType,
        .indexFor {
          display: none;
        }
      }
      .list {
        width: 100%;
        border-top: 1px solid $lineColor;
        margin: 0;
        padding: 0;
        li {
          opacity: 0;
          transform: translateY(-10%);
          border-bottom: 1px solid $lineColor;
          cursor: pointer;
          width: 100%;
          @mixin img {
            width: 56.57%;
            background-size: cover;
            background-position: center;
          }
          .inner {
            width: 89.06%;
            height: 130px;
            margin: 0 auto;
            display: flex;
            .img {
              height: 100%;
              @include img;

              .place {
                opacity: 0;
              }
            }
            .text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 34.21%;
              padding-left: 0;
              .type,
              .for,
              .des,
              .book {
                display: none;
              }
              .title {
                font-size: 1.625rem;
                margin: 0;
                word-break: keep-all;
              }
            }
            .sign {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 9.21%;
              height: 130px;
              .plus {
                width: 26px;
                height: 26px;
                background-image: url(../../public/img/logo-plus.svg);
                background-size: cover;
              }
            }
          }
          &.item {
            transform: translateY(0%);
            opacity: 1;
          }
          &.active {
            transform: translateY(0%);
            opacity: 1;
            border-bottom: 1px solid $lineColor;
            .inner {
              height: 100%;
              margin: 0 auto;
              display: flex;
              flex-direction: row;
              align-items: start;
              .img {
                @include img;
                order: 2;
                height: 350px;
                position: relative;
                .place {
                  opacity: 1;
                  position: absolute;
                  top: 20px;
                  right: 20px;
                  font-size: 1.375rem;
                  border: 1px solid $color1;
                  background-color: $lineColor;
                  padding: 10px 20px;
                  border-radius: 30px;
                }
              }
              .text {
                order: 1;
                width: 34.21%;
                padding: 0 7.33% 0 0;
                margin: 50px 0 0 0;
                height: 270px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                .title {
                  margin: 0;
                  font-size: 1.625rem;
                  font-family: "Pretendard-SemiBold";
                }
                .type,
                .for,
                .des,
                .book {
                  display: block;
                }
                .mark {
                  margin: 12px 0 18px;
                  .type,
                  .for {
                    font-family: "Pretendard-Light";
                    font-size: 1.375rem;
                    margin-right: 20px;
                    display: inline-block;
                  }
                }
                .des {
                  margin: 0;
                  font-size: 1.5rem;
                  font-family: "Pretendard-Light";
                  line-height: 1.875rem;
                  word-break: keep-all;
                  margin-bottom: 18px;
                }
                .book {
                  align-self: flex-end;
                  span {
                    font-family: "Pretendard-Light";
                    font-size: 1.375rem;
                    position: relative;
                    cursor: pointer;
                    &::after {
                      @include bookAfter;
                    }
                    &:hover::after {
                      margin-left: 15px;
                    }
                  }
                }
              }
              .sign {
                order: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8.55%;
                height: 130px;
                align-self: flex-start;
                .plus {
                  width: 26px;
                  height: 3px;
                  background-image: url(../../public/img/logo-minus.svg);
                  background-size: cover;
                }
              }
            }
          }
          &:first-child {
            transition: all 0.3s;
          }
          &:nth-child(2) {
            transition: all 0.4s;
          }
          &:nth-child(3) {
            transition: all 0.5s;
          }
          &:nth-child(4) {
            transition: all 0.6s;
          }
          &.animate {
            transform: translateY(0%);
            opacity: 1;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1650px) {
  .program {
    width: 1596px;
    margin: 150px auto 0 auto;
    display: flex;
    flex-direction: row;
    .subj {
      width: 16.91%;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      h3 {
        font-family: "NanumSquareBold";
        font-size: 2.5rem;
        margin: 0;
      }
    }
    .content {
      width: 83.08%;
      .index {
        display: block;
        width: 50.9%;
        margin: 0;
        & > * {
          font-family: "NanumSquareLight";
          font-size: 2rem;
          margin-top: 0;
          text-transform: capitalize;
          display: inline-block;
        }
        .indexTitle {
          width: 246px;
        }
        .indexType {
          display: inline-block;
          margin: 0 24px;
          width: 111px;
        }
        .indexFor {
          display: inline-block;
          width: 111px;
        }
      }
      .list {
        width: 100%;
        border-top: 1px solid $lineColor;
        margin-top: 0;
        padding: 0;
        li {
          opacity: 0;
          transform: translateY(-10%);
          border-bottom: 1px solid $lineColor;
          cursor: pointer;
          width: 100%;
          .inner {
            width: 100%;
            height: 132px;
            margin: 0 auto;
            display: flex;
            .img {
              width: 38.9%;
              height: 100%;
              background-size: cover;
              .place {
                opacity: 0;
              }
            }
            .text {
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;
              width: 50.9%;
              padding-left: 0;
              .headLine {
                display: flex;
                flex-direction: row;
                .mark {
                  margin-left: 24px;
                  .type,
                  .for {
                    display: inline-block;
                    font-size: 1.625rem;
                    width: 111px;
                    font-family: "Pretendard-SemiBold";
                  }
                  .for {
                    margin-left: 24px;
                  }
                }
              }

              .des,
              .book {
                display: none;
              }
              .title {
                font-size: 1.625rem;
                margin: 0;
                word-break: keep-all;
                width: 246px;
              }
            }
            .sign {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 8.55%;
              height: 132px;
              .plus {
                width: 26px;
                height: 26px;
                background-image: url(../../public/img/logo-plus.svg);
                background-size: cover;
              }
            }
          }
          &.item {
            transform: translateY(0%);
            opacity: 1;
          }
          &.active {
            transform: translateY(0%);
            opacity: 1;
            border-bottom: 1px solid $lineColor;
            height: 300px;
            .inner {
              height: 100%;
              margin: 0 auto;
              display: flex;
              flex-direction: row;
              align-items: start;
              .img {
                order: 2;
                width: 516px;
                height: 300px;
                background-size: cover;
                background-position: center;
                position: relative;
                .place {
                  opacity: 1;
                  position: absolute;
                  top: 20px;
                  right: 20px;
                  font-size: 1.375rem;
                  border: 1px solid $color1;
                  background-color: $lineColor;
                  padding: 10px 20px;
                  border-radius: 30px;
                }
              }
              .text {
                order: 1;
                width: 675px;
                height: 220px;
                padding: 0 7.89% 0 0;
                margin: 50px 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .headLine {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  margin-bottom: 30px;
                  .title {
                    margin: 0;
                    font-size: 1.625rem;
                    font-family: "Pretendard-SemiBold";
                    width: 246px;
                  }
                  .mark {
                    margin: 0 0 0 24px;
                    .type,
                    .for {
                      display: inline-block;
                      width: 111px;
                      font-size: 1.625rem;
                      font-family: "Pretendard-SemiBold";
                    }
                  }
                }
                .des,
                .book {
                  display: block;
                }
                .mark {
                  margin-top: 10px;
                  margin-bottom: 16px;
                  .type,
                  .for {
                    font-family: "Pretendard-Light";
                    font-size: 1.375rem;
                    margin-right: 10px;
                    display: inline-block;
                  }
                }
                .des {
                  margin: 0;
                  font-size: 1.5rem;
                  width: 100%;
                  font-family: "Pretendard-Light";
                  line-height: 1.875rem;
                  word-break: keep-all;
                  margin-bottom: 80px;
                }
                .book {
                  align-self: flex-end;
                  position: absolute;
                  span {
                    font-family: "Pretendard-Light";
                    font-size: 1.375rem;
                    position: relative;
                    cursor: pointer;
                    &::after {
                      @include bookAfter;
                    }
                    &:hover::after {
                      margin-left: 15px;
                    }
                  }
                }
              }
              .sign {
                order: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8.55%;
                height: 132px;
                align-self: flex-start;
                .plus {
                  width: 26px;
                  height: 3px;
                  background-image: url(../../public/img/logo-minus.svg);
                  background-size: cover;
                }
              }
            }
          }
          &:first-child {
            transition: all 0.3s;
          }
          &:nth-child(2) {
            transition: all 0.4s;
          }
          &:nth-child(3) {
            transition: all 0.5s;
          }
          &:nth-child(4) {
            transition: all 0.6s;
          }
          &.animate {
            transform: translateY(0%);
            opacity: 1;
          }
        }
      }
    }
  }
}
