@font-face {
  font-family: "Steps-Mono";
  src: url("../../public/font/Steps-Mono.otf") format(otf);
}
.home {
  margin-top: 70px;
  width: 100%;
  height: calc(100vh - 70px);
  .content {
    margin: 0 auto;
    padding: 100px 0 30px 0;
    width: calc(100vw - 200px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 3.125rem;
      line-height: 4.6875rem;
      transform: translateX(-30%);
      transition: all 0.3s;
      font-weight: 900;
    }
    .animate {
      transform: translateX(0);
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      span,
      a {
        color: rgba(999, 999, 999, 0.7);
        font-size: 1.125rem;
        transform: translateX(-200%);
        &:first-child {
          transition: all 0.3s;
        }
        &:nth-child(2) {
          transition: all 0.45s;
        }
        &:last-child {
          transition: all 0.55s;
        }
      }
      a:hover {
        color: #fff;
      }
      .animate {
        transform: translateX(0);
      }
    }
  }
}
