$lineColor: #e4e4e4;
$color1: #000;
$color2: #fff;
$indicatorColor: #d8d8d8;

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: $color1;
  }
  li {
    list-style: none;
  }
  .blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

header {
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid $lineColor;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  @mixin innerLayout {
    width: 81.33%;
    margin: 0 auto;
  }
  .headerInner {
    @include innerLayout;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .headerLogo {
      border: none;
      width: 36px;
      height: 36px;
      background-color: transparent;
      background-size: cover;
      background-image: url(../../public/img/logo-museum.svg);
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
    }
    .menuOpen {
      border: none;
      background-color: transparent;
      display: block;
      width: 36px;
      height: 27px;
      background-size: cover;
      background-image: url(../../public/img/logo-menu.svg);
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
    }
    .menuClose {
      display: block;
      width: 32px;
      height: 32px;
      background-size: cover;
      background-image: url(../../public/img/logo-cross.svg);
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  nav {
    width: 100%;
    height: 100%;
    background-color: $color2;
    position: fixed;
    z-index: 200;
    top: 80px;
    .navInner {
      @include innerLayout;
      height: calc(100% - 80px);
      position: relative;
    }
    .searchOpen {
      width: 34px;
      height: 34px;
      background-size: cover;
      background-image: url(../../public/img/logo-search.svg);
      position: absolute;
      top: 10px;
      right: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
    }
    .content {
      display: flex;
      flex-direction: column;
      padding: 70px 0 0 0;
      .menu {
        margin: 0;
        li {
          font-size: 1.625rem;
          margin-top: 27px;
          text-transform: uppercase;
          &:first-child {
            margin-top: 0;
          }
          &:hover {
            font-style: italic;
          }
          &:hover .line {
            background-color: $color1;
          }
          .line {
            height: 1px;
            width: 52.13%;
            background-color: $lineColor;
            margin-top: 8px;
          }
        }
      }
      .info {
        margin-top: 70px;
        .infoTitle {
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          h3 {
            font-size: 1.375rem;
          }
          @mixin infoBtn {
            width: 20px;
            height: 26px;
            border: none;
            background-color: transparent;
            background-image: url(../../public/img/logo-more.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
          }
          .infoOpen {
            @include infoBtn;
          }

          .infoClose {
            @include infoBtn;
            transform: rotate(180deg);
          }
        }

        .infoContent {
          transition: all 0.3s;
          opacity: 1;
          .infoItem {
            &:last-child {
              margin-top: 15px;
            }
            li {
              &:first-child {
                font-size: 1.125rem;
                margin-bottom: 10px;
              }
              &:last-child {
                margin-bottom: 0;
              }
              font-size: 1rem;
              margin-bottom: 6px;
            }
          }
        }
        .infoBlind {
          opacity: 0;
        }
      }
    }
  }
  .search {
    width: 100%;
    height: 200vh;
    background-color: $color1;
    position: absolute;
    z-index: 200;
    top: 0;
    .searchInner {
      @include innerLayout;
      height: 100%;
      .header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .searchClose {
          width: 30px;
          height: 30px;
          background-image: url(../../public/img/logo-cross-search.svg);
          background-size: cover;
          border: none;
          background-color: transparent;
          text-indent: 200%;
          white-space: nowrap;
          overflow: hidden;
          float: right;
        }
      }
    }
    .content {
      width: 100%;
      display: flex;
      gap: 5.57%;
      align-items: center;
      justify-content: space-between;
      margin-top: 34.66vh;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      .input {
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $color2;
        width: 73.44%;
        height: 33px;
        color: $color2;
        font-size: 1.375rem;
        &::placeholder {
          color: $color2;
          opacity: 0.75;
          font-size: 1.375rem;
        }
      }
      .searchBtn {
        width: 64px;
        height: 40px;
        background-color: $color2;
        border: none;
        padding: 0;
        color: $color1;
        font-size: 1.125rem;
        cursor: pointer;
        &:hover {
          background-color: #555;
          color: $color2;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid $lineColor;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    @mixin innerLayout {
      width: 87.5%;
      margin: 0 auto;
    }
    .headerInner {
      @include innerLayout;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .headerLogo {
        border: none;
        width: 50px;
        height: 50px;
        background-color: transparent;
        background-size: cover;
        background-image: url(../../public/img/logo-museum.svg);
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      .menuOpen {
        border: none;
        background-color: transparent;
        display: block;
        width: 50px;
        height: 37px;
        background-size: cover;
        background-image: url(../../public/img/logo-menu.svg);
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      .menuClose {
        display: block;
        width: 46px;
        height: 46px;
        background-size: cover;
        background-image: url(../../public/img/logo-cross.svg);
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
    nav {
      width: 100%;
      height: 100%;
      background-color: $color2;
      position: fixed;
      z-index: 200;
      top: 100px;
      .navInner {
        @include innerLayout;
        height: calc(100% - 100px);
        position: relative;
      }
      .searchOpen {
        width: 50px;
        height: 50px;
        background-size: cover;
        background-image: url(../../public/img/logo-search.svg);
        position: absolute;
        top: 10px;
        right: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      .content {
        padding: 70px 0 0 0;
        display: flex;
        flex-direction: column;
        .menu {
          margin: 0;
          li {
            font-size: 1.625rem;
            margin-top: 27px;
            text-transform: uppercase;
            &:first-child {
              margin-top: 0;
            }
            &:hover {
              font-style: italic;
            }
            &:hover .line {
              background-color: $color1;
            }
            .line {
              height: 1px;
              width: 52.13%;
              background-color: $lineColor;
              margin-top: 8px;
            }
          }
        }
        .info {
          margin-top: 70px;
          .infoTitle {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            h3 {
              font-size: 1.375rem;
            }
            @mixin infoBtn {
              width: 20px;
              height: 26px;
              border: none;
              background-color: transparent;
              background-image: url(../../public/img/logo-more.svg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              text-indent: 200%;
              white-space: nowrap;
              overflow: hidden;
            }
            .infoOpen {
              @include infoBtn;
            }

            .infoClose {
              @include infoBtn;
              transform: rotate(180deg);
            }
          }

          .infoContent {
            .infoItem {
              &:last-child {
                margin-top: 15px;
              }
              li {
                &:first-child {
                  font-size: 1.125rem;
                  margin-bottom: 10px;
                }
                &:last-child {
                  margin-bottom: 0;
                }
                font-size: 1rem;
                margin-bottom: 6px;
              }
            }
          }
          .infoBlind {
            opacity: 0;
          }
        }
      }
    }
    .search {
      width: 100%;
      height: 200vh;
      background-color: $color1;
      position: absolute;
      z-index: 200;
      top: 0;
      .searchInner {
        @include innerLayout;
        height: 100%;
        .header {
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .searchClose {
            width: 46px;
            height: 46px;
            background-image: url(../../public/img/logo-cross-search.svg);
            background-size: cover;
            border: none;
            background-color: transparent;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            float: right;
          }
        }
      }
      .content {
        width: 100%;
        display: flex;
        gap: 5.57%;
        align-items: center;
        justify-content: space-between;
        margin-top: 34.66vh;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        .input {
          border: none;
          background-color: transparent;
          border-bottom: 2px solid $color2;
          width: 73.44%;
          height: 33px;
          color: $color2;
          font-size: 1.375rem;
          &::placeholder {
            color: $color2;
            opacity: 0.75;
            font-size: 1.375rem;
          }
        }
        .searchBtn {
          width: 80px;
          height: 50px;
          background-color: $color2;
          border: none;
          padding: 0;
          color: $color1;
          font-size: 1.375rem;
          cursor: pointer;
          &:hover {
            background-color: #555;
            color: $color2;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid $lineColor;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    @mixin innerLayout {
      width: 89.06%;
      margin: 0 auto;
    }
    .headerInner {
      @include innerLayout;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .headerLogo {
        border: none;
        width: 70px;
        height: 70px;
        background-color: transparent;
        background-size: cover;
        background-image: url(../../public/img/logo-museum.svg);
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      .menuOpen {
        border: none;
        background-color: transparent;
        display: block;
        width: 70px;
        height: 52px;
        background-size: cover;
        background-image: url(../../public/img/logo-menu.svg);
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      .menuClose {
        display: block;
        width: 64px;
        height: 64px;
        background-size: cover;
        background-image: url(../../public/img/logo-cross.svg);
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
    nav {
      width: 100%;
      height: 100%;
      background-color: $color2;
      position: fixed;
      z-index: 200;
      top: 120px;
      .navInner {
        @include innerLayout;
        height: calc(100% - 120px);
        position: relative;
      }
      .searchOpen {
        width: 68px;
        height: 68px;
        background-size: cover;
        background-image: url(../../public/img/logo-search.svg);
        position: absolute;
        top: 10px;
        right: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      .content {
        padding: 70px 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 9.96%;
        .menu {
          width: 40.78%;
          margin: 0;
          li {
            font-size: 2.5rem;
            margin-top: 50px;
            text-transform: uppercase;
            &:first-child {
              margin-top: 0;
            }
            &:hover {
              font-style: italic;
            }
            &:hover .line {
              background-color: $color1;
            }
            .line {
              height: 1px;
              width: 100%;
              background-color: $lineColor;
              margin-top: 20px;
            }
          }
        }
        .info {
          margin-top: 0px;
          .infoTitle {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            border: none;
            background-color: transparent;
            cursor: default;
            h3 {
              font-size: 1.75rem;
            }
            @mixin infoBtn {
              width: 20px;
              height: 26px;
              border: none;
              background-color: transparent;
              background-image: url(../../public/img/logo-more.svg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              text-indent: 200%;
              white-space: nowrap;
              overflow: hidden;
              display: none;
            }
            .infoOpen {
              @include infoBtn;
            }

            .infoClose {
              @include infoBtn;
              transform: rotate(180deg);
            }
          }
          @mixin infoItem {
            &:first-child {
              font-size: 1.375rem;
              margin-bottom: 10px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            font-size: 1.25rem;
            margin-bottom: 6px;
          }
          .infoContent {
            .infoItem {
              &:last-child {
                margin-top: 15px;
              }
              li {
                &:first-child {
                  font-size: 1.375rem;
                  margin-bottom: 10px;
                }
                &:last-child {
                  margin-bottom: 0;
                }
                font-size: 1.25rem;
                margin-bottom: 6px;
              }
            }
          }
          .infoBlind {
            opacity: 1;
            .infoItem {
              &:last-child {
                margin-top: 15px;
              }
              li {
                @include infoItem;
              }
            }
          }
        }
      }
    }
    .search {
      width: 100%;
      height: 200vh;
      background-color: $color1;
      position: absolute;
      z-index: 200;
      top: 0;
      .searchInner {
        @include innerLayout;
        height: 100%;
        .header {
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .searchClose {
            width: 64px;
            height: 64px;
            background-image: url(../../public/img/logo-cross-search.svg);
            background-size: cover;
            border: none;
            background-color: transparent;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            float: right;
          }
        }
      }
      .content {
        width: 100%;
        display: flex;
        gap: 5.57%;
        align-items: center;
        justify-content: space-between;
        margin-top: 34.66vh;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        .input {
          border: none;
          background-color: transparent;
          border-bottom: 2px solid $color2;
          width: 73.44%;
          height: 56px;
          color: $color2;
          font-size: 1.375rem;
          &::placeholder {
            color: $color2;
            opacity: 0.75;
            font-size: 2.5rem;
          }
        }
        .searchBtn {
          width: 160px;
          height: 74px;
          background-color: $color2;
          border: none;
          padding: 0;
          color: $color1;
          font-size: 1.875rem;
          cursor: pointer;
          &:hover {
            background-color: #555;
            color: $color2;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1650px) {
  header {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid $lineColor;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    @mixin innerLayout {
      width: 1596px;
      margin: 0 auto;
    }
    .headerInner {
      width: 100%;
      margin: 0;
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .headerLogo {
        border: none;
        width: 70px;
        height: 70px;
        background-color: transparent;
        background-size: cover;
        background-image: url(../../public/img/logo-museum.svg);
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      .menuOpen {
        border: none;
        background-color: transparent;
        display: block;
        width: 70px;
        height: 52px;
        background-size: cover;
        background-image: url(../../public/img/logo-menu.svg);
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      .menuClose {
        display: block;
        width: 64px;
        height: 64px;
        background-size: cover;
        background-image: url(../../public/img/logo-cross.svg);
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
    nav {
      width: 100%;
      height: 100%;
      background-color: $color2;
      position: fixed;
      z-index: 200;
      top: 120px;
      .navInner {
        width: 100%;
        margin: 0;
        height: calc(100% - 120px);
        position: relative;
        padding: 0 50px 0 8.43%;
      }
      .searchOpen {
        width: 68px;
        height: 68px;
        background-size: cover;
        background-image: url(../../public/img/logo-search.svg);
        position: absolute;
        top: 10px;
        right: 48px;
        padding: 0;
        border: none;
        background-color: transparent;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      .content {
        padding: 70px 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 9.96%;
        .menu {
          width: 40.78%;
          margin: 0;
          li {
            font-size: 2.5rem;
            margin-top: 50px;
            text-transform: uppercase;
            &:first-child {
              margin-top: 0;
            }
            &:hover {
              font-style: italic;
            }
            &:hover .line {
              background-color: $color1;
            }
            .line {
              height: 1px;
              width: 100%;
              background-color: $lineColor;
              margin-top: 20px;
            }
          }
        }
        .info {
          margin-top: 0px;
          .infoTitle {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            border: none;
            background-color: transparent;
            cursor: default;
            h3 {
              font-size: 1.75rem;
            }
            @mixin infoBtn {
              width: 20px;
              height: 26px;
              border: none;
              background-color: transparent;
              background-image: url(../../public/img/logo-more.svg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              text-indent: 200%;
              white-space: nowrap;
              overflow: hidden;
              display: none;
            }
            .infoOpen {
              @include infoBtn;
            }

            .infoClose {
              @include infoBtn;
              transform: rotate(180deg);
            }
          }
          @mixin infoItem {
            &:first-child {
              font-size: 1.375rem;
              margin-bottom: 10px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            font-size: 1.25rem;
            margin-bottom: 6px;
          }
          .infoContent {
            .infoItem {
              &:last-child {
                margin-top: 15px;
              }
              li {
                &:first-child {
                  font-size: 1.375rem;
                  margin-bottom: 10px;
                }
                &:last-child {
                  margin-bottom: 0;
                }
                font-size: 1.25rem;
                margin-bottom: 6px;
              }
            }
          }
          .infoBlind {
            opacity: 1;
            .infoItem {
              &:last-child {
                margin-top: 15px;
              }
              li {
                @include infoItem;
              }
            }
          }
        }
      }
    }
    .search {
      width: 100%;
      height: 200vh;
      background-color: $color1;
      position: absolute;
      z-index: 200;
      top: 0;
      .searchInner {
        width: 100%;
        margin: 0;
        height: 100%;
        .header {
          height: 120px;
          padding-right: 50px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .searchClose {
            width: 64px;
            height: 64px;
            background-image: url(../../public/img/logo-cross-search.svg);
            background-size: cover;
            border: none;
            background-color: transparent;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            float: right;
          }
        }
      }
      .content {
        @include innerLayout;
        display: flex;
        gap: 5.57%;
        align-items: center;
        justify-content: space-between;
        margin-top: 34.66vh;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        .input {
          border: none;
          background-color: transparent;
          border-bottom: 2px solid $color2;
          width: 73.44%;
          height: 56px;
          color: $color2;
          font-size: 1.375rem;
          &::placeholder {
            color: $color2;
            opacity: 0.75;
            font-size: 2.5rem;
          }
        }
        .searchBtn {
          width: 160px;
          height: 74px;
          background-color: $color2;
          border: none;
          padding: 0;
          color: $color1;
          font-size: 1.875rem;
          cursor: pointer;
          &:hover {
            background-color: #555;
            color: $color2;
          }
        }
      }
    }
  }
}
