@font-face {
  font-family: "Anthony";
  src: url("../../public/font/Anthony.woff") format(woff), url("../../public/font/Anthony.woff2") format(woff2);
}
@font-face {
  font-family: "Picnic";
  src: url("../../public/font/PicNic-Regular.woff") format(woff), url("../../public/font/PicNic-Regular.woff2") format(woff2);
}
@font-face {
  font-family: "NEXONLv1GothicRegular";
  src: url("../../public/font/NEXONLv1GothicRegular.ttf") format(ttf);
}
@font-face {
  font-family: "Steps-Mono";
  src: url("../../public/font/Steps-Mono.otf") format(otf);
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}

.detail {
  width: 100%;
  height: 100%;
}
.detail .container {
  width: 1596px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1.5%;
  padding: 150px 0 200px 0;
}
.detail .container > div {
  width: 49.24%;
}
.detail .container .left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.detail .container .left .img {
  width: 100%;
  margin-bottom: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.detail .container .left .img:last-child {
  margin-bottom: none;
}
.detail .container .right {
  height: 50vh;
  position: sticky;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.detail .container .right .titleArea h4 {
  font-size: 2rem;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: capitalize;
  display: inline-block;
}
.detail .container .right .titleArea .link {
  display: inline-block;
  margin-left: 25px;
  width: 169px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-family: "Steps-Mono";
  border: 1px solid #000;
  background-color: #d9d9d9;
  font-size: 1.25rem;
  border-radius: 50px;
  transition: all 0.3s;
}
.detail .container .right .titleArea .link:hover {
  background-color: #bdbdbd;
}
.detail .container .right p {
  margin: 50px 0 40px 0;
  font-size: 1.625rem;
  line-height: 2.375rem;
  word-break: keep-all;
}
.detail .container .right .tool {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 80px;
}
.detail .container .right .tool span {
  display: inline-block;
  width: 142px;
  height: 58px;
  border: 1px solid #000;
  border-radius: 50px;
  font-size: 1.25rem;
  font-family: "Steps-Mono";
  text-align: center;
  line-height: 58px;
}
.detail .container .right .listBtn {
  align-self: flex-end;
}
.detail .container .right .listBtn .list {
  font-size: 1.25rem;
  font-family: "NEXONLv1GothicRegular";
  position: relative;
}
.detail .container .right .listBtn .list:after {
  content: "";
  background-image: url(../../public/img/logo-arrow.svg);
  width: 25px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.detail .container .right .listBtn .list:hover::after {
  left: 130%;
}/*# sourceMappingURL=WebDesginDetail.module.css.map */