@font-face {
  font-family: "Steps-Mono";
  src: url("../../public/font/Steps-Mono.otf") format(otf);
}
.detail {
  width: 100%;
  height: 100%;
  .container {
    width: 83.12%;
    height: auto;
    margin: 0 auto;
    padding-top: 150px;
    .intro {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 100px;
      gap: 80px;
      .thumbArea {
        width: 50%;
        img {
          width: 100%;
          height: auto;
        }
      }
      .textArea {
        width: 50%;
        .titleArea {
          h4 {
            font-size: 2rem;
            text-transform: capitalize;
            display: inline-block;
          }
          .link {
            display: inline-block;
            margin-left: 25px;
            width: 160px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-family: "Steps-Mono";
            background-color: #fff;
            font-size: 1.125rem;
            border-radius: 50px;
            transition: all 0.3s;
            color: #000;
            &:hover {
              background-color: #8d8d8d;
              color: #fff;
            }
          }
        }

        p {
          margin: 50px 0 40px 0;
          font-size: 1.5rem;
          line-height: 2.25rem;
          word-break: keep-all;
        }
        .tool {
          display: flex;
          flex-direction: row;
          gap: 10px;
          span {
            display: inline-block;
            width: 120px;
            height: 40px;
            border-radius: 40px;
            font-size: 1rem;
            font-family: "Steps-Mono";
            text-align: center;
            line-height: 40px;
            color: #000;
          }
        }

        .listBtn {
          margin-top: 30px;
          text-align: right;
          .list {
            font-size: 1.25rem;
            position: relative;
            margin-right: 30px;
            &:after {
              content: "";
              background-image: url(../../public/img/logo-arrow.svg);
              width: 25px;
              height: 20px;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              display: block;
              position: absolute;
              top: 50%;
              left: 110%;
              transform: translateY(-50%);
              transition: all 0.3s;
            }
            &:hover::after {
              left: 130%;
            }
          }
        }
      }
    }
    .bottom {
      width: 100%;
      .imgWrapper {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        .img {
          width: 100%;
          height: auto;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          object-fit: contain;
        }
      }
    }
  }
}
